aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.4
args==0.1.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
clint==0.5.1
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
cryptography==2.9.2
cycler==0.10.0
dearpygui==0.1.0b10
decorator==4.4.2
dhooks==1.1.4
discord.py==1.5.0
distlib==0.3.0
facebook-sdk==3.1.0
Faker==4.1.2
filelock==3.0.12
Flask==1.1.2
future==0.18.2
get-stick-bugged-lol==0.0.1
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.6
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
MouseInfo==0.1.3
moviepy==1.0.3
multidict==4.7.5
mysql-connector-python==8.0.20
networkx==2.4
nltk==3.5
numpy==1.19.1
opencv-python==4.2.0.34
pandas==1.0.3
pefile==2019.4.18
Pillow==7.2.0
pipenv==2018.11.26
praw==7.1.0
prawcore==1.4.0
proglog==0.1.9
py-stackexchange==2.2.7
PyAutoGUI==0.9.50
pycparser==2.20
pygame==1.9.6
PyGetWindow==0.0.8
PyInstaller==3.6
pylsd-nova==1.0.0
PyMsgBox==1.0.8
PyNaCl==1.3.0
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
python-dotenv==0.13.0
PyTweening==1.0.3
pytz==2020.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
regex==2020.9.27
requests==2.24.0
rfc3986==1.4.0
scikit-image==0.17.2
scipy==1.4.1
selenium==3.141.0
six==1.14.0
sniffio==1.1.0
socli==5.7
soupsieve==2.0.1
text-unidecode==1.3
textblob==0.15.3
tifffile==2020.6.3
tkintertable==1.3.2
tqdm==4.48.2
update-checker==0.17
urllib3==1.25.10
urwid==2.1.0
virtualenv==20.0.20
virtualenv-clone==0.5.4
webdriver-manager==3.2.2
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
wikipedia==1.4.0
yarl==1.4.2
youtube-dl==2020.5.8
